@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div style="margin-top:5%;">
        <label>UID: </label>
        <input type="text" id="txtUID" name="txtUID" class="form-control" placeholder="Enter uid" />
        <input type="submit" class="btn btn-info" value="GO" style="margin-top: 2%"/>
    </div>
</form>